@page
@using SipsBites
@model IndexModel
@{
    ViewData["Title"] = "Sips and Bites Navigator";
    var siteBrand = ViewData["Brand"];
    List<Brewery> breweryList = (List<Brewery>) ViewData["Breweries"];
}

<div class="text-center">
    <header class="header">
        <h1 class="display-4">Welcome to @siteBrand</h1>
        <h2>Enjoy Best Food and Drinks in USA</h2>
        <ul class="inline-list">
            <li>Search Brewery Names </li>
            <li>Search Brewery brewery_type</li>
        </ul>
    </header>      
    <div>
       

   <div>
        <section>
     
            <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Brewery Type</th>
                    <th>State</th>
                    <th>Street</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach(Brewery brewery in breweryList)
                 {
                <tr>
                    <td data-label="Name">@brewery.Name</td>
            <td data-label="Brewery Type">@brewery.BreweryType</td>
            <td data-label="State">@brewery.StateProvince</td>
            <td data-label="Street">@brewery.Address1</td>
                </tr>
                 }
                }
            </tbody>
        </table>
        </section>

    </div>
</div>