@page
@using SipsBites
@model IndexModel
@{
    ViewData["Title"] = "Sips and Bites Navigator";
    var brand = ViewData["Brand"];
    List<Brewery> breweries = (List<Brewery>) ViewData["Breweries"];
}

<div class="text-center">
    <div class="header">
        <h1 class="display-4">Welcome to @brand</h1>
        <h2>Enjoy Best Food and Drinks in USA</h2>
        <ul class="inline-list">
            <li>Search Brewery Names </li>
            <li>Search Brewery brewery_type</li>
        </ul>
    </div>      
    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Brewery Type</th>
                    <th>State</th>
                    <th>Street</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach(Brewery brewery in breweries)
                 {
                <tr>
                    <td>@brewery.Name</td>
                    <td>@brewery.BreweryType</td>
                    <td>@brewery.StateProvince</td>
                    <td>@brewery.Address1</td>
                </tr>
                 }
                }
            </tbody>
        </table>
    </div>
</div>