@page
@model XML_Project.Pages.RestaurantModel
@{
    ViewData["Title"] = "Restaurant Search";
}

<div class="text-center">
    <h1 class="display-4">Restaurant Search</h1>
    <ul class="inline-list">
        <li>Find restaurants</li>
        <li>View restaurant details</li>
        <li>Explore locations</li>
    </ul>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="bg-dark text-white">Name</th>
                <th class="bg-dark text-white">Address</th>
                <th class="bg-dark text-white">City</th>
                <th class="bg-dark text-white">State/Province</th>
                <th class="bg-dark text-white">Country</th>
                <th class="bg-dark text-white">View on Google Maps</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Restaurants != null && Model.Restaurants.Any())
            {
                @foreach (var restaurant in Model.Restaurants)
                {
                    <tr>
                        <td>@restaurant.Name</td>
                        <td>@restaurant.Address</td>
                        <td>@restaurant.City</td>
                        <td>@restaurant.Province</td>
                        <td>@restaurant.Country</td>
                        <td><a href="@restaurant.MapUrl" target="_blank">View on Google Maps</a></td> <!-- Link to Google Maps -->
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">No restaurants available to display.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
